{% embed 'partials/base.html.twig' %}

{% block body %}
<body class="post-template nav-closed" itemscope itemtype="http://schema.org/Article">
{% endblock %}

{% block content %}

{% include 'partials/header.html.twig' %}

<main class="content" role="main">
    <article class="post page">
        <header class="post-header">
            {% include 'partials/breadcrumbs.html.twig' %}
            <h1 class="post-title">{{ 'THEME_MASONRY.ERROR.404'|t }}</h1>
        </header>
    </article>
</main>

{% endblock %}

{% block footer %}{% endblock %}

{% endembed %}
